@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --first-color: #3E0E12;
  --first-color-dark: #2F0A0D;
  --text-color: #524748;
  --first-color-light: #7B6F71;
  --first-color-lighten: #FBF9F9;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
}

/* Reusable section classes */
.section {
  padding: 5vh 0 3vh;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/* Layout */
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  margin: 0 auto;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.contact__container {
  row-gap: 2.5rem;
}

.contact__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 0 auto;
}

.contact__box {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.contact__box:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
}

.contact__title {
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
  color: var(--first-color);
}

.contact__description {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  cursor: pointer;
  pointer-events: auto; 
}

.contact__social {
  color: var(--first-color-light);
  font-size: 1.25rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.contact__social:hover {
  color: var(--first-color);
}


/* Default: 1 column */
.contact__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* For screens ≥ 450px: 2 columns (2x2) */
@media screen and (min-width: 450px) {
  .contact__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens ≥ 800px: 4 in 1 row */
@media screen and (min-width: 800px) {
  .contact__content {
    grid-template-columns: repeat(4, 1fr);
  }
}



.seven h1 {
text-align: center;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: -1vh;
}

.seven h1:after,.seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
  background-color:#f8f8f8;
}