.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #191919;
  overflow: hidden;
  margin-top: -10px;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  display: block;
}

.fallbackImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  z-index: 0;
}

/* Hide video and show image on screens smaller than 800px */
@media (max-width: 800px) {
  .videoBackground {
    display: none;
  }

  .fallbackImage {
    display: block;
  }
}

.overlay {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  max-width: 400px;
  width: 50%;
  height: auto;
}
